/* Navbar style */
.nav-item {
    margin-left: 30px;
    color: white;
}

#navbar-top {
    background-color: #F1F3FF;
}

.nav-item:hover {
    background-color: #FFC300;
    transition: 1s;
    border-radius: 10px;
}

.nav-link {
    text-align: center;
    color: black;
}

.nav-item a:hover {
    color: white;
}

#sign {
    color: white;
}

#sign-ex {
    background-color: #1E557B;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}

#sign-ex:hover {
    opacity: 0.5;
}

/* Navbar style */

/* Header style */
header {
    padding: 50px;
    background-color: #F1F3FF;
    height: auto;
}

#header-right {
    padding-top: 150px;
}

/* Header style */

/* Button style */
.card-text {
    font-family: Helvetica;
}


#card-blue {
    background-color: #0D28A6;
    color: white;
    width: 89%;
}

#button-green:hover {
    opacity: 0.5;
    transition: 1s;
}

#dropdownMenuReference:hover {
    background-color: rgb(249, 239, 239);
    color: black;
}

#reference-drop {
    width: 520px;
    text-align: start;
}

#container-faq {
    margin-right: 10px;
}


.dropdown-menu {
    background-color: aliceblue;
}

.list-group-item {
    padding: 10px;
}

#sosmed-btn {
    background-color: #0D28A6;
    display: inline;
    margin-right: 10px;
}

#sosmed-btn:hover {
    opacity: 0.5;
}

.sewa-button {
    background-color: #5CB85F;
}

.sewa-button:hover {
    background-color: #72b775;
}

/* Button style */

/* Responsive design */
@media only screen and (max-width: 1086px) {
    #header-left {
        margin-right: 100px;
    }
}

@media only screen and (max-width: 400px) {
    .navbar-brand {
        margin-right: -100px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-nav {
        margin-right: 290px;
        text-align: center;
    }

    .navbar-nav li {
        padding-bottom: 20px;
    }

    .card {
        margin-top: 20px;
    }

    #connect-text {
        margin-top: 25px;
    }

    #copyright-text {
        margin-top: 25px;
    }
}


@media only screen and (max-width: 576px) {
    #whyus-card {
        margin-left: auto;
    }

    #whyus-text {
        text-align: center;
    }
}

@media only screen and (max-width: 660px) {
    .car-blue {
        width: 400px;
    }

    .service-image {
        width: 350px;
    }
}

/* Responsive design */